<%- include('includes/cabecera', {title: "Listado de alumnos"}) %>
<body>
    <section>
      <a href="/alumnos/crear" type="button">Ingresar alumno</a>
    </section>
    <h1>Listado de alumnos</h1>
     <table>
      <thead>
        <tr>
          <!--
          <td>Nombres</td>
          <td>Apellidos</td>
          -->
          <td>Usuario</td>
          <td>DNI</td>
          <!--
          <td>Correo</td>
          -->
          <td>Acciones</td>
        </tr>
      </thead>
      <tbody>
        <% resultados.forEach((resultado) => { %>
        <tr>
          <!--
          <td><%= resultado.nombres %></td>
          <td><%= resultado.apellidos %></td>
          -->
          <td><%= resultado.username %></td>          
          <td><%= resultado.dni %></td>
          <!--
          <td><%= resultado.mail %></td>
          -->
          <td>
            <a href ="/alumnos/ver/<%= resultado.id %>">Ver detalles</a>
            <button data-id = <%= resultado.id %> id="btn-editar">Editar</button>
            <button data-id = <%= resultado.id %> id="btn-eliminar">Eliminar</button>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <script>
      const $d = document;
      $d.addEventListener('click', (e) => {
        if (e.target.id == "btn-eliminar"){
          //console.log(`Eliminando el elemento ${e.target.dataset.id}`);
          const id = event.target.dataset.id;
          fetch(`/alumnos/eliminar/${id}`, { method: 'DELETE' })
            .then(response => {
              // manejar respuesta exitosa              
              location.reload();
            })
            .catch(error => {
              // manejar error
            });
        }
      })
    </script>
  
</body>
</html>