<%- include('includes/cabecera', {title: "Ver Alumno"}) %>
<body>
    <h1>Ver Alumno </h1>
    <form class="form" action="/alumnos/insertar-alumno" method="post">
        <div class="campo">
            <label for="nombres">Nombres:</label>
            <input type="text" id="nombres" name="nombres" value='<%= resultado.nombres %>' disabled>
        </div>
        <div class="campo">
            <label for="apellidos">Apellidos:</label>
            <input type="text" id="apellidos" name="apellidos" value='<%= resultado.apellidos %>'  disabled>
        </div>
        <div class="campo">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value='<%= resultado.username %>'  disabled>
        </div>
        <div class="campo">
            <label for="dni">DNI:</label>
            <input type="number" id="dni" name="dni" value='<%= resultado.dni %>'  disabled>
        </div>
        <div class="campo">
            <label for="mail">Mail:</label>
            <input type="email" id="mail" name="mail" value='<%= resultado.mail %>'  disabled>
        </div>
        <div class="campo">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" value='<%= resultado.password %>'  disabled>
        </div>
        <!--
        <input class="btn-enviar" type="submit" value="Ingresar alumno">
        -->
    </form>    
</body>
</html>